<!DOCTYPE html>
<!-- TODO(): Update spring security to version 5 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title id="title">Feed</title>

    <div th:replace="/fragments/header :: header"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/custom.js"></script>
</head>

<body>
    <div class="container">
        <div th:replace="fragments/navbar"/>
    </div>
        <div class="container">
            <h2>Tweets containing #<span th:text="${tag}"></span></h2>
            <div class="list-group" th:each="tweet:${tweetList}">
                <div class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <a class="username" th:href="@{/users/} + ${tweet.user.username}">@<span th:text="${tweet.user.username}"></span></a><small>
                        <span th:text="${tweet.date}"></span></small>
                    </div>
                    <p class="mb-1" th:utext="${tweet.message}"></p>
                </div>
            </div>
            <div th:if="${#lists.isEmpty(tweetList)}">
                <h3>No tweets contain this hashtag</h3>
            </div>
        </div>

<div th:replace = "/fragments/footer :: scripts"></div>
<div th:replace = "/fragments/footer :: copy"></div>
</body>
</html>